body {
  margin: 0;
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (min-width: 900px) {
  main {
    max-width: 1100px;
    margin: auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: start;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  section div {
    max-width: 500px;
  }
}
