header {
  text-align: center;
  background-color: #f5f6f8;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
}

header h1 {
  padding-block-end: 20px;
  padding-block-start: 20px;
  margin-block-start: 0;
}
header > nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

header > nav ul li {
  margin-inline-end: 50px;
}

header > nav ul li:last-child {
  display: none;
}

header > ul > a {
  color: #666666;
}

@media (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header > nav ul li:last-child {
    display: block;
  }
}
